attrs==22.1.0
certifi==2022.6.15
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
Fiona==1.8.21
geopandas==0.11.1
munch==2.5.0s
numpy==1.23.2
packaging==21.3
pandas==1.4.3
pyparsing==3.0.9
pyproj==3.3.1
python-dateutil==2.8.2
pytz==2022.2.1
Shapely==1.8.4
six==1.16.0
anyio==3.6.1
attrs==22.1.0
certifi==2022.6.15
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cycler==0.11.0
fastapi==0.81.0
Fiona==1.8.21
fonttools==4.37.1
geopandas==0.11.1
h11==0.13.0
idna==3.3
Jinja2==3.1.2
kiwisolver==1.4.4
MarkupSafe==2.1.1
matplotlib==3.5.3
munch==2.5.0
numpy==1.23.2
packaging==21.3
pandas==1.4.3
Pillow==9.2.0
pydantic==1.9.2
pyparsing==3.0.9
pyproj==3.3.1
python-dateutil==2.8.2
pytz==2022.2.1
Shapely==1.8.4
six==1.16.0
sniffio==1.2.0
starlette==0.19.1
typing_extensions==4.3.0
uvicorn==0.18.3
